.button{
    cursor: pointer;
    font: inherit;
    background-color: #4d1609;
    color: white;
    padding: 0.75rem 3rem;
    display: flex;
    justify-content: space-around;
    margin-right: 10rem;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
    border: none;
}
.button:hover,
.button:active{
    background-color: #2c0d00;
}
.icon{
    width: 1.35rem;
    height: 1.35rem;
    margin-right: 1rem;
    color: white;
}
.badge{
    background-color: #b94517;
    padding: 0 0.75rem;
    border-radius: 25px;
    margin-left: 1rem;
    font-weight: bold;
}

.cart-icon{
    color: white;
}